form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    border-radius: 5px;
}
#ice {
    font-size:10px;
    background-color: blue;
    width:70px;
    height: 40px;
    margin: auto;
}
#ice:hover{
background-color: brown;
font-size: 30px;
width: 180px;
height: 60px;
}

.ice_3 {
    border-radius: 20px;
    border-color: blueviolet;
    margin-bottom: 50px;;
}
#triste {
    margin: 10px;
}


